In [1]:
import os
import re

In [2]:
import numpy as np
from scipy.sparse.csgraph import shortest_path
import pandas as pd

In [3]:
pd.options.display.max_colwidth=500

In [4]:
ent_pattern = re.compile('T(\d+)\t([A-Z_]+) (\d+ \d+(;\d+ \d+)*)\t(.+)')
rel_pattern = re.compile('R(\d+)\t([A-Z_]+) Arg1:T(\d+) Arg2:T(\d+)')
ref_pattern = re.compile('R(\d+)\tCOREFERENCE Arg1:T(\d+) Arg2:T(\d+)')

folder = './test/sample/'

for filename in os.listdir(folder):
    if filename.endswith('.ann'):
        with open(folder + filename, 'r', encoding='utf8') as fin:
            text = fin.read()

        rels = rel_pattern.findall(text)
        if len(rels) == 0:
            continue
        assert len(rels) == int(rels[-1][0])

        df_ent = pd.DataFrame([(e[0], e[1], e[2], e[4]) for e in ent_pattern.findall(text)], 
                  columns=['id', 'type', 'range', 'text']).set_index('id')
        df_ref = pd.DataFrame(ref_pattern.findall(text), columns=['id', 'ent1', 'ent2'])
        df = df_ref.join(df_ent, on='ent1', rsuffix='1').join(df_ent, on='ent2', rsuffix='2')
        
        common_span = set(df['range']) & set(df['range2'])
        if len(common_span) != 0:
            print(filename)
            display(df)

            coref_dict = {r:e for e, r in zip(df['ent1'], df['range'])}
            ent_dict = {r:e for e, r in zip(df['ent2'], df['range2'])}

            all_spans = sorted(set(df['range']) | set(df['range2']))
            num_spans = len(all_spans)

            df_graph = pd.DataFrame(np.zeros((num_spans, num_spans), dtype=int), index=all_spans, columns=all_spans)

            for r1, r2 in zip(df['range'], df['range2']):
                df_graph.loc[r1, r2] = 1

            d = shortest_path(df_graph.values, directed=True)

            print('new rels')
            new_rels = []
            for e1, e2 in zip(*np.where(((~np.isinf(d)) & (d>1)))):
                r1 = all_spans[e1]
                r2 = all_spans[e2]
                new_rels.append((coref_dict[r1], ent_dict[r2]))

            with open(folder + filename, 'a', encoding='utf8') as fout:
                for i, (e1, e2) in enumerate(new_rels, start=len(rels)+1):
                    rel_str = 'R%d\tCOREFERENCE Arg1:T%s Arg2:T%s'%(i, e1, e2)
                    print(rel_str)
                    fout.write(rel_str + '\n')

0001.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,11,18,1,COREFERENCE,701 802,"400 mg (88%) of [5-(2,3-difluorophenyl)-3-methyl-2,4-dioxo-3,4-dihydro-2H-pyrimidin-1-yl]-acetic acid",ENTITY,6 91,"[5-(2,3-difluorophenyl)-3-methyl-2,4-dioxo-3,4-dihydro-2H-pyrimidin-1-yl]-acetic acid"
1,12,13,12,COREFERENCE,830 843,a white solid,ENTITY,701 802,"400 mg (88%) of [5-(2,3-difluorophenyl)-3-methyl-2,4-dioxo-3,4-dihydro-2H-pyrimidin-1-yl]-acetic acid"

new rels
R13	COREFERENCE Arg1:T13 Arg2:T1
0002.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,7,4,COREFERENCE,601 612,the solvent,ENTITY,367 395,ethanol (20 mL)/water (5 mL)
1,7,9,8,COREFERENCE,691 703,yellow solid,ENTITY,614 632;671 687,"The title compound (1.180 g, 95.2%)"
2,8,13,1,COREFERENCE,614 632;671 687,"The title compound (1.180 g, 95.2%)",ENTITY,22 139,"N-(3-chloro-4-fluorophenyl)-N-(2-fluoro-4-(hydrazinecarbonyl)benzyl)tetrahydro-2H-thiopyran-4-carboxamide 1,1-dioxide"

new rels
R9	COREFERENCE Arg1:T9 Arg2:T1
0003.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,6,15,8,COREFERENCE,451 460,The solid,ENTITY,442 449,a solid
1,9,16,2,COREFERENCE,518 550,"the title compound (72 mg, 62 %)",ENTITY,111 116,LXXVI
2,10,17,1,COREFERENCE,111 116,LXXVI,ENTITY,30 109,"2'-amino-6-(2-amino-6-morpholinopyrimidin-4-yl)-3'-fluoro-[2,4'-bipyridin]-5-ol"

new rels
R11	COREFERENCE Arg1:T16 Arg2:T1
0006.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,7,4,COREFERENCE,520 531,the solvent,ENTITY,294 309,ethanol (10 mL)
1,10,12,11,COREFERENCE,720 732,a foam solid,ENTITY,681 716,"the title compound (0.115 g, 95.8%)"
2,11,17,1,COREFERENCE,681 716,"the title compound (0.115 g, 95.8%)",ENTITY,22 109,N-((5-(hydrazinecarbonyl)pyridin-2-yl)methyl)-1-methyl-N-phenylpiperidine-4-carboxamide

new rels
R12	COREFERENCE Arg1:T12 Arg2:T1
0007.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,19,33,20,COREFERENCE,1268 1293,the compound of Example 8,ENTITY,1126 1239,"1-(4-(dimethylamino)piperidin-1-yl)-3-(1-ethyl-1H-imidazol-2-yl)-3-hydroxypropan-1-one (0.221 g, 0.751 mmol, 43%)"
1,20,22,21,COREFERENCE,1298 1313,a colorless oil,ENTITY,1268 1293,the compound of Example 8
2,21,32,1,COREFERENCE,1126 1239,"1-(4-(dimethylamino)piperidin-1-yl)-3-(1-ethyl-1H-imidazol-2-yl)-3-hydroxypropan-1-one (0.221 g, 0.751 mmol, 43%)",ENTITY,25 111,1-(4-(dimethylamino)piperidin-1-yl)-3-(1-ethyl-1H-imidazol-2-yl)-3-hydroxypropan-1-one

new rels
R22	COREFERENCE Arg1:T33 Arg2:T1
R23	COREFERENCE Arg1:T22 Arg2:T20
R24	COREFERENCE Arg1:T22 Arg2:T1
0008.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,3,6,2,COREFERENCE,229 232,87%,ENTITY,48 69,12.12 g of Compound 7
1,4,7,1,COREFERENCE,48 69,12.12 g of Compound 7,ENTITY,37 47,Compound 7

new rels
R5	COREFERENCE Arg1:T6 Arg2:T1
0009.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,7,5,COREFERENCE,251 262,the solvent,ENTITY,149 160,DMF (14 mL)
1,7,15,9,COREFERENCE,382 388,eluent,ENTITY,360 378,CH2Cl2/MeOH (10:1)
2,10,12,11,COREFERENCE,415 434,a light brown solid,ENTITY,397 411;435 450,"the product 34 (273 mg, 76.4%)"
3,11,17,1,COREFERENCE,397 411;435 450,"the product 34 (273 mg, 76.4%)",ENTITY,13 24,Compound 34

new rels
R12	COREFERENCE Arg1:T12 Arg2:T1
0010.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,18,1,COREFERENCE,114 124,compound 7,ENTITY,10 112,"N-(2-Methoxy-4-(piperidin-4-yl)phenyl)-3-(2-methoxyphenyl)-3H-[1,2,3]tria zolo[4,5-d]pyrimidin-5-amine"
1,4,19,6,COREFERENCE,398 410,the solution,ENTITY,259 280,the reaction solution
2,14,17,16,COREFERENCE,814 826,This product,ENTITY,774 812,"a yellow solid 7-c (6.9 g, yield: 82%)"
3,15,24,3,COREFERENCE,774 812,"a yellow solid 7-c (6.9 g, yield: 82%)",ENTITY,141 153,compound 7-c

new rels
R16	COREFERENCE Arg1:T17 Arg2:T3
0011.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,15,1,COREFERENCE,16 85,"7-Chloro-5-(4,4,5,5-tetramethyl-1,3,2-dioxaborolan-2-yl)indolin-2-one",ENTITY,0 14,Intermediate 5
1,4,7,16,COREFERENCE,328 339,The solvent,ENTITY,200 211,TFA (11 mL)
2,11,14,13,COREFERENCE,529 556,"a white solid (861 mg, 58%)",ENTITY,507 525,the title compound
3,12,20,3,COREFERENCE,507 525,the title compound,ENTITY,94 123,5-Bromo-7-chloroindolin-2-one

new rels
R13	COREFERENCE Arg1:T14 Arg2:T3
0012.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,17,16,COREFERENCE,601 639,"a light yellow oil (105 mg, 74% yield)",ENTITY,579 597,the title compound
1,2,18,2,COREFERENCE,579 597,the title compound,ENTITY,17 70,"8-Bromo-2-(tert-butyl)-7-methylimidazo[1,2-a]pyridine"
2,3,19,1,COREFERENCE,17 70,"8-Bromo-2-(tert-butyl)-7-methylimidazo[1,2-a]pyridine",ENTITY,0 15,Intermediate 41
3,4,20,21,COREFERENCE,279 287,The vial,ENTITY,74 90,a microwave vial

new rels
R18	COREFERENCE Arg1:T18 Arg2:T1
R19	COREFERENCE Arg1:T17 Arg2:T1
R20	COREFERENCE Arg1:T17 Arg2:T2
0013.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,3,2,COREFERENCE,331 334,76e,ENTITY,179 330;335 355,"(E)-methyl 3-(4-((1R,3R/1S,3S)-6-bromo-2-(2-fluoro-2-methylpropyl)-3-methyl-1,2,3,4-tetrahydrobenzofuro[2,3-c]pyridin-1-yl)-3,5-difluorophenyl)acrylate (200 mg, 0.373 mmol)"
1,2,5,4,COREFERENCE,425 428,17a,ENTITY,357 424;429 449,"1-ethyl-4-(4,4,5,5-tetramethyl-1,3,2-dioxaborolan-2-yl)-1H-pyrazole (166 mg, 0.746 mmol)"
2,14,23,1,COREFERENCE,1167 1186;971 1162,"(110 mg, yield 53%) the title compound (E)-methyl 3-(4-((1R,3R/1S,3S)-6-(1-ethyl-1H-pyrazol-4-yl)-2-(2-fluoro-2-methylpropyl)-3-methyl-1,2,3,4-tetrahydrobenzofuro[2,3-c]pyridin-1-yl)-3,5-difluoroph enyl)acrylate",ENTITY,7 178,"(E)-methyl3-(4-((1R,3R/1S,3S)-6-(1-ethyl-1H-pyrazol-4-yl)-2-(2-fluoro-2-methylpropyl)-3-methyl-1,2,3,4-tetrahydrobenzofuro[2,3-c]pyridin-1-yl)-3,5-difluoroph enyl)acrylate"
3,15,16,15,COREFERENCE,1163 1166,76f,ENTITY,1167 1186;971 1162,"(110 mg, yield 53%) the title compound (E)-methyl 3-(4-((1R,3R/1S,3S)-6-(1-ethyl-1H-pyrazol-4-yl)-2-(2-fluoro-2-methylpropyl)-3-methyl-1,2,3,4-tetrahydrobenzofuro[2,3-c]pyridin-1-yl)-3,5-difluoroph enyl)acrylate"
4,16,17,15,COREFERENCE,1190 1202,a yellow oil,ENTITY,1167 1186;971 1162,"(110 mg, yield 53%) the title compound (E)-methyl 3-(4-((1R,3R/1S,3S)-6-(1-ethyl-1H-pyrazol-4-yl)-2-(2-fluoro-2-methylpropyl)-3-methyl-1,2,3,4-tetrahydrobenzofuro[2,3-c]pyridin-1-yl)-3,5-difluoroph enyl)acrylate"

new rels
R17	COREFERENCE Arg1:T16 Arg2:T1
R18	COREFERENCE Arg1:T17 Arg2:T1
0014.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,11,1,COREFERENCE,242 273,"compound 50-e (1.6g, yield 64%)",ENTITY,13 26,compound 50-e
1,6,7,6,COREFERENCE,275 286,The product,ENTITY,242 273,"compound 50-e (1.6g, yield 64%)"

new rels
R7	COREFERENCE Arg1:T7 Arg2:T1
0016.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,11,13,12,COREFERENCE,570 582,a yellow oil,ENTITY,502 566,"methyl 2-(2,3-dihydrobenzofuran-5-yl)acetate (4.0 g, yield: 93%)"
1,12,20,1,COREFERENCE,502 566,"methyl 2-(2,3-dihydrobenzofuran-5-yl)acetate (4.0 g, yield: 93%)",ENTITY,5 53,"2-(7-bromo-2,3-dihydrobenzofuran-5-yl)ethan-1-ol"

new rels
R13	COREFERENCE Arg1:T13 Arg2:T1
0020.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,11,14,13,COREFERENCE,699 712,colorless oil,ENTITY,679 695,"(0.150 g, 94.9%)"
1,12,19,12,COREFERENCE,679 695,"(0.150 g, 94.9%)",ENTITY,622 640,The title compound
2,13,20,1,COREFERENCE,622 640,The title compound,ENTITY,22 80,N-(2-fluoro-4-(hydrazinecarbonyl)benzyl)-N-phenylacetamide

new rels
R14	COREFERENCE Arg1:T19 Arg2:T1
R15	COREFERENCE Arg1:T14 Arg2:T1
R16	COREFERENCE Arg1:T14 Arg2:T12
0021.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,10,13,11,COREFERENCE,784 815,"the title compound (33 mg, 53%)",ENTITY,682 693,The product
1,11,18,1,COREFERENCE,682 693,The product,ENTITY,10 201,"1,1-Dioxo-3,3-dibutyl-5-phenyl-7-methylthio-8-[N-((R)--{N-[1-(R)-2-(R)-1-(t-butoxycarbonyl)-1-hydroxy-prop-2-yl]carbamoyl}benzyl)carbamoylmethoxy]-2,3,4,5-tetrahydro-1,2,5-benzothiadiazepine"

new rels
R12	COREFERENCE Arg1:T13 Arg2:T1
0023.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,14,17,15,COREFERENCE,834 847,a brown solid,ENTITY,736 830,1.1 g (48%) of 6-[(3-chloro-4-fluorophenyl)carbonyl]-1-oxa-6-azaspiro[2.5]octane-2-carbonitril
1,15,23,1,COREFERENCE,736 830,1.1 g (48%) of 6-[(3-chloro-4-fluorophenyl)carbonyl]-1-oxa-6-azaspiro[2.5]octane-2-carbonitril,ENTITY,8 87,6-[(3-chloro-4-fluorophenyl)carbonyl]-1-oxa-6-azaspiro[2.5]octane-2-carbonitril

new rels
R16	COREFERENCE Arg1:T17 Arg2:T1
0024.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,4,3,COREFERENCE,279 281,6a,ENTITY,239 278;282 301;374 375,"1-(benzo[b]thiophen-2-yl)propan-2-amine (155 mg, 0.811 mmol )"
1,2,6,5,COREFERENCE,430 432,1b,ENTITY,380 429;433 452,"2-fluoro-2-methylpropyl trifluoromethanesulfonate (545 mg, 2.43 mmol)"
2,10,14,12,COREFERENCE,882 894,a yellow oil,ENTITY,765 856;860 878,"the title compound N-(1-(benzo[b]thiophen-2-yl)propan-2-yl)-2-fluoro-2-methylpropan-1-amine (75 mg, yield 35%)"
3,11,13,12,COREFERENCE,857 859,6b,ENTITY,765 856;860 878,"the title compound N-(1-(benzo[b]thiophen-2-yl)propan-2-yl)-2-fluoro-2-methylpropan-1-amine (75 mg, yield 35%)"
4,12,18,2,COREFERENCE,765 856;860 878,"the title compound N-(1-(benzo[b]thiophen-2-yl)propan-2-yl)-2-fluoro-2-methylpropan-1-amine (75 mg, yield 35%)",ENTITY,166 238,N-(1-(benzo[b]thiophen-2-yl)propan-2-yl)-2-fluoro-2-methylpropan-1-amine

new rels
R13	COREFERENCE Arg1:T13 Arg2:T2
R14	COREFERENCE Arg1:T14 Arg2:T2
0025.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,12,14,13,COREFERENCE,993 1008,a colorless gum,ENTITY,805 989,"N,N'-(((((((2,2'-dimethyl-[1,1'-biphenyl]-3,3'-diyl)bis(methylene))bis(oxy))bis(2-methoxypyridine-6,3-diyl))bis(methylene))bis(azanediyl))bis(ethane-2,1-diyl))diacetamide (230 mg, 33%)"
1,13,15,1,COREFERENCE,805 989,"N,N'-(((((((2,2'-dimethyl-[1,1'-biphenyl]-3,3'-diyl)bis(methylene))bis(oxy))bis(2-methoxypyridine-6,3-diyl))bis(methylene))bis(azanediyl))bis(ethane-2,1-diyl))diacetamide (230 mg, 33%)",ENTITY,7 177,"N,N'-(((((((2,2'-Dimethyl-[1,1'-biphenyl]-3,3'-diyl)bis(methylene))bis(oxy))bis(2-methoxypyridine-6,3-diyl))bis(methylene))bis(azanediyl))bis(ethane-2,1-diyl))diacetamide"

new rels
R14	COREFERENCE Arg1:T14 Arg2:T1
0028.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,6,8,7,COREFERENCE,492 507,a white crystal,ENTITY,422 488,"(R)-3-aminoquinuclidine.monosulfate (4.85 g: 21.6 mmol, yield=78%)"
1,7,12,1,COREFERENCE,422 488,"(R)-3-aminoquinuclidine.monosulfate (4.85 g: 21.6 mmol, yield=78%)",ENTITY,24 59,(R)-3-aminoquinuclidine.monosulfate

new rels
R8	COREFERENCE Arg1:T8 Arg2:T1
0032.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,10,2,COREFERENCE,200 202,3b,ENTITY,149 199;203 221,"3-(2-((2-fluoro-2-methylpropyl)amino)propyl)phenol (113 mg, 0.5 mmol)"
1,2,15,5,COREFERENCE,314 316,1e,ENTITY,262 313;317 335,"(E)-methyl 3-(3,5-difluoro-4-formylphenyl) acrylate (113 mg, 0.5 mmol)"
2,9,19,14,COREFERENCE,570 712;716 733,"(E)-methyl 3-(3,5-difluoro-4-((1S,3R/1R,3S)-2-(2-fluoro-2-methylpropyl)-6-hydroxy-3-methyl-1,2, 3,4-tetrahydroisoquinolin-1-yl)phenyl)acrylate (15 mg, yield 7%)",ENTITY,551 569,the title compound
3,10,20,11,COREFERENCE,713 715,3c,ENTITY,570 712;716 733,"(E)-methyl 3-(3,5-difluoro-4-((1S,3R/1R,3S)-2-(2-fluoro-2-methylpropyl)-6-hydroxy-3-methyl-1,2, 3,4-tetrahydroisoquinolin-1-yl)phenyl)acrylate (15 mg, yield 7%)"
4,11,21,12,COREFERENCE,737 751,a yellow solid,ENTITY,713 715,3c
5,12,13,1,COREFERENCE,551 569,the title compound,ENTITY,7 148,"(E)-methyl 3-(3,5-difluoro-4-((1S,3R/1R,3S)-2-(2-fluoro-2-methylpropyl)-6-hydroxy-3-methyl-1,2,3,4-tetrahydroisoquinolin-1-yl)phenyl)acrylate"

new rels
R13	COREFERENCE Arg1:T19 Arg2:T1
R14	COREFERENCE Arg1:T20 Arg2:T14
R15	COREFERENCE Arg1:T20 Arg2:T1
R16	COREFERENCE Arg1:T21 Arg2:T14
R17	COREFERENCE Arg1:T21 Arg2:T11
R18	COREFERENCE Arg1:T21 Arg2:T1
0033.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,9,1,COREFERENCE,257 268,COMPOUND 14,ENTITY,18 255,"(S)-3-(3,5-DIFLUOROPHENYL)-N-((2R,6S,8AS,14AS,20S,23AS)-2,6-DIMETHYL-5,8,14,19,23-PENTAOXOOCTADECAHYDRO-1H,5H,14H,19H-PYRIDO[2,1-I]DIPYRROLO[2,1-C:2',1'-L]OXA[4,7,10,13]TETRAAZACYCLOHEXADECIN-20-YL)-2-(3-(4-ETHYLPHENYL)UREIDO)PROPANAMIDE"
1,2,10,2,COREFERENCE,271 282,Compound 14,ENTITY,257 268,COMPOUND 14
2,6,12,3,COREFERENCE,489 500,Compound 14,ENTITY,271 282,Compound 14
3,7,8,7,COREFERENCE,517 551,"a ligh yellow solid (35.7 mg, 44%)",ENTITY,489 500,Compound 14

new rels
R8	COREFERENCE Arg1:T10 Arg2:T1
R9	COREFERENCE Arg1:T12 Arg2:T1
R10	COREFERENCE Arg1:T12 Arg2:T2
R11	COREFERENCE Arg1:T8 Arg2:T1
R12	COREFERENCE Arg1:T8 Arg2:T2
R13	COREFERENCE Arg1:T8 Arg2:T3
0034.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,13,1,COREFERENCE,126 233,"1-(Cyclopropylmethyl)-6-(2-(2,4-dimethylthiazol-5-yl)ethyl)-4-methyl-pyrazolo [4,3 - d]pyrimidine-5,7-dione",ENTITY,11 118,"1-(Cyclopropylmethyl)-6-(2-(2,4-dimethylthiazol-5-yl)ethyl)-4-methyl-pyrazolo [4,3 - d]pyrimidine-5,7-dione"
1,11,12,2,COREFERENCE,762 896,"1-(cyclopropylmethyl)-6-(2-(2,4-dimethylthiazol-5-yl)ethyl)-4-methyl-pyrazolo[4,3-d]pyrimidine-5,7-dione (20.0 mg) with a yield of 25%",ENTITY,126 233,"1-(Cyclopropylmethyl)-6-(2-(2,4-dimethylthiazol-5-yl)ethyl)-4-methyl-pyrazolo [4,3 - d]pyrimidine-5,7-dione"

new rels
R12	COREFERENCE Arg1:T12 Arg2:T1
0035.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,12,6,COREFERENCE,670 695,the compound of Example 7,ENTITY,511 641,"1-(4-(dimethylamino)piperidin-1-yl)-3-hydroxy-3-(1-methyl-1H-imidazol-2-yl)propan-1-one hydrochloride (0.0220 g, 0.0623 mmol, 79%)"
1,6,13,1,COREFERENCE,511 641,"1-(4-(dimethylamino)piperidin-1-yl)-3-hydroxy-3-(1-methyl-1H-imidazol-2-yl)propan-1-one hydrochloride (0.0220 g, 0.0623 mmol, 79%)",ENTITY,25 126,1-(4-(dimethylamino)piperidin-1-yl)-3-hydroxy-3-(1-methyl-1H-imidazol-2-yl)propan-1-one hydrochloride
2,7,8,7,COREFERENCE,700 713,a white solid,ENTITY,670 695,the compound of Example 7

new rels
R8	COREFERENCE Arg1:T12 Arg2:T1
R9	COREFERENCE Arg1:T8 Arg2:T1
R10	COREFERENCE Arg1:T8 Arg2:T6
0036.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,16,1,COREFERENCE,16 82,5-bromo-3-(((tert-butyldimethylsilyl)oxy)methyl)-2-methoxypyridine,ENTITY,0 15,Intermediate 6B
1,14,15,2,COREFERENCE,631 736,"the title compound 5-bromo-3-(((tert-butyldimethylsilyl)oxy)methyl)-2-methoxypyridine (2.71 g, 95% yield)",ENTITY,16 82,5-bromo-3-(((tert-butyldimethylsilyl)oxy)methyl)-2-methoxypyridine

new rels
R15	COREFERENCE Arg1:T15 Arg2:T1
0038.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,15,23,1,COREFERENCE,629 660,"Compound 132 (64 mg, 66% yield)",ENTITY,20 32,Compound 132
1,16,17,16,COREFERENCE,664 686,a yellow oily material,ENTITY,629 660,"Compound 132 (64 mg, 66% yield)"

new rels
R17	COREFERENCE Arg1:T17 Arg2:T1
0042.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,14,18,17,COREFERENCE,1058 1074,a colourless gum,ENTITY,916 1054,"(1S,3R)-1-(5-bromo-3-fluoropyridin-2-yl)-2-((1-fluorocyclopropyl)methyl)-3,5-dimethyl-1,2,3,4-tetrahydroisoquinolin-6-amine (0.672 g, 63%)"
1,15,23,1,COREFERENCE,916 1054,"(1S,3R)-1-(5-bromo-3-fluoropyridin-2-yl)-2-((1-fluorocyclopropyl)methyl)-3,5-dimethyl-1,2,3,4-tetrahydroisoquinolin-6-amine (0.672 g, 63%)",ENTITY,15 138,"(1S,3R)-1-(5-bromo-3-fluoropyridin-2-yl)-2-((1-fluorocyclopropyl)methyl)-3,5-dimethyl-1,2,3,4-tetrahydroisoquinolin-6-amine"

new rels
R16	COREFERENCE Arg1:T18 Arg2:T1
0043.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,6,15,8,COREFERENCE,760 786,the compound of Example 14,ENTITY,609 732,"(S)-1-(3-(dimethylamino)piperidin-1-yl)-3-(1-methyl-1H-imidazol-2-yl)propan-1-one hydrochloride (0.0576 g, 0.171 mmol, 53%)"
1,7,10,9,COREFERENCE,791 804,a white solid,ENTITY,760 786,the compound of Example 14
2,8,16,2,COREFERENCE,609 732,"(S)-1-(3-(dimethylamino)piperidin-1-yl)-3-(1-methyl-1H-imidazol-2-yl)propan-1-one hydrochloride (0.0576 g, 0.171 mmol, 53%)",ENTITY,24 119,(S)-1-(3-(dimethylamino)piperidin-1-yl)-3-(1-methyl-1H-imidazol-2-yl)propan-1-one Hydrochloride

new rels
R9	COREFERENCE Arg1:T15 Arg2:T2
R10	COREFERENCE Arg1:T10 Arg2:T2
R11	COREFERENCE Arg1:T10 Arg2:T8
0044.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,20,1,COREFERENCE,41 135,"1-ethyl-N-phenyl-N-(4-(5-(trifluoromethyl)-1,3,4-oxadiazol-2-yl)benzyl)azetidine-3-carboxamide",ENTITY,25 39,compound 11139
1,2,21,2,COREFERENCE,158 172,compound 11139,ENTITY,41 135,"1-ethyl-N-phenyl-N-(4-(5-(trifluoromethyl)-1,3,4-oxadiazol-2-yl)benzyl)azetidine-3-carboxamide"
2,17,19,18,COREFERENCE,1009 1022,a white solid,ENTITY,970 1005,"the title compound (0.042 g, 42.8%)"
3,18,27,3,COREFERENCE,970 1005,"the title compound (0.042 g, 42.8%)",ENTITY,158 172,compound 11139

new rels
R19	COREFERENCE Arg1:T19 Arg2:T3
R20	COREFERENCE Arg1:T19 Arg2:T1
R21	COREFERENCE Arg1:T19 Arg2:T2
R22	COREFERENCE Arg1:T21 Arg2:T1
R23	COREFERENCE Arg1:T27 Arg2:T1
R24	COREFERENCE Arg1:T27 Arg2:T2
0045.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,12,14,13,COREFERENCE,948 967,a light brown solid,ENTITY,818 944,"(6S,8R)-6-(5-bromopyridin-2-yl)-7-(2,2-difluoroethyl)-8-methyl-6,7,8,9-tetrahydro-3H-pyrazolo[4,3-f]isoquinoline (438 mg, 60%)"
1,13,21,1,COREFERENCE,818 944,"(6S,8R)-6-(5-bromopyridin-2-yl)-7-(2,2-difluoroethyl)-8-methyl-6,7,8,9-tetrahydro-3H-pyrazolo[4,3-f]isoquinoline (438 mg, 60%)",ENTITY,15 127,"(6S,8R)-6-(5-bromopyridin-2-yl)-7-(2,2-difluoroethyl)-8-methyl-6,7,8,9-tetrahydro-3H-pyrazolo[4,3-f]isoquinoline"

new rels
R14	COREFERENCE Arg1:T14 Arg2:T1
0046.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,5,7,6,COREFERENCE,521 536,a white crystal,ENTITY,449 517,"racemic 3-aminoquinuclidine.diacetate (4.41 g: 39.0 mmol, yield=89%)"
1,6,11,1,COREFERENCE,449 517,"racemic 3-aminoquinuclidine.diacetate (4.41 g: 39.0 mmol, yield=89%)",ENTITY,36 73,racemic 3-aminoquinuclidine.diacetate

new rels
R7	COREFERENCE Arg1:T7 Arg2:T1
0049.ann

,id,ent1,ent2,type,range,text,type2,range2,text2
0,1,11,1,COREFERENCE,112 205,"7-(Cyclopropylmethyl)-1-(5-isopropylisoxazol-4-yl)methyl)-3-methyl-1H-purine-2,6(3H,7H)-dione",ENTITY,11 104,"7-(Cyclopropylmethyl)-1-(5-isopropylisoxazol-4-yl)methyl)-3-methyl-1H-purine-2,6(3H,7H)-dione"
1,9,10,2,COREFERENCE,638 761,"7-(cyclopropylmethyl)-1-(5-isopropylisoxazol-4-yl)methyl)-3-methyl-1H-purine-2,6(3H,7H)-dione (80.0 mg) with a yield of 37%",ENTITY,112 205,"7-(Cyclopropylmethyl)-1-(5-isopropylisoxazol-4-yl)methyl)-3-methyl-1H-purine-2,6(3H,7H)-dione"

new rels
R10	COREFERENCE Arg1:T10 Arg2:T1